@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
	3.4 Main Navigation
	3.5 Search
	3.6 Hamburger
4. Menu
5. Home
	5.1 Home Slider
6. Intro
7. Services
8. Sermon
9. Causes
10. Quote
11. News
12. Newsletter
13. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Bilbo|Montserrat:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #7c7c7c;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 500;
	color: #7c7c7c;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p:last-of-type
{
	margin-bottom: 0;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(235,65,65,0.15);
	color: #eb4141;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 157px;
	height: 54px;
	background: rgba(235,65,65,1);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	text-align: center;
}
.button a
{
	display: block;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	line-height: 54px;
}
.button::after
{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #ffd600;
	content: '';
}
.button:hover
{
	background: rgba(235,65,65,0.75);
}
.section_title_container
{
	text-align: center;
}
.section_title
{
	margin-top: 10px;
}
.section_title h2
{
	color: #000000;
}
.section_subtitle
{
	font-family: 'Bilbo', serif;
	font-size: 24px;
	color: #9d9d9d;
	margin-top: -6px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	top: -57px;
}
.header.scrolled .header_content
{
	height: 92px;
}

/*********************************
3.1 Top Bar
*********************************/

.top_bar
{
	width: 100%;
	background: #000000;
}
.top_bar_content
{
	width: 100%;
	height: 57px;
}
.event_timer span
{
	color: #ffd600;
}
.timer
{
	display: inline-block;
	margin-left: 22px;
}
.timer li:not(:last-child)
{
	margin-right: 14px;
}
.timer_num
{
	display: inline-block;
	color: #FFFFFF;
	font-weight: 500;
}
.timer_unit
{
	display: inline-block;
	color: #868687;
	font-weight: 600;
	margin-left: 3px;
}
.donations_button
{
	width: 157px;
	height: 57px;
	background: #eb4141;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.donations_button a
{
	display: block;
	color: #FFFFFF;
	line-height: 57px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.donations_button:hover
{
	background: #FFFFFF;
}
.donations_button:hover a
{
	color: #eb4141;
}

/*********************************
3.2 Header Content
*********************************/

.header_container
{
	width: 100%;
	background: #FFFFFF;
}
.header_content
{
	height: 115px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

/*********************************
3.3 Logo
*********************************/

.logo a span
{
	font-size: 24px;
	color: #353535;
}
.logo a img
{
	display: inline-block;
	vertical-align: text-bottom;
}

/*********************************
3.4 Main Navigation
*********************************/

.main_nav
{
	display: inline-block;
}
.main_nav ul li
{
	display: inline-block;
	margin-right: 38px;
}
.main_nav ul li:last-child
{
	margin-right: 0;
}
.main_nav ul li a
{
	font-weight: 500;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a:hover
{
	color: #eb4141;
}
.main_nav ul li.active a
{
	color: #eb4141;
}

/*********************************
3.5 Search
*********************************/

.search
{
	display: inline-block;
	margin-left: 59px;
	cursor: pointer;
}
.search_path
{
	fill: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search:hover .search_path
{
	fill: #eb4141;
}
.header_search_form
{
	display: block;
	position: relative;
	width: 40%;
}
.header_search_container
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #eb4141;
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header_search_container.active
{
	bottom: -73px;
	opacity: 1;
}
.header_search_content
{
	width: 100%;
	height: 73px;
}
.search_input
{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 20px;
}
.header_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
}

/*********************************
3.6 Hamburger
*********************************/

.hamburger
{
	display: none;
	cursor: pointer;
	margin-right: 10px
}
.hamburger i
{
	font-size: 20px;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #eb4141;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.98);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.menu.active
{
	visibility: visible;
	opacity: 1;
}
.menu_search_form
{
	display: block;
	position: relative;
	margin-top: 50px;
}
.menu_search_input
{
	width: 400px;
	height: 40px;
	background: #FFFFFF;
	border: none;
	outline: none;
	padding-left: 20px;
}
.menu_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #FFFFFF;
}
.menu_nav
{
	margin-top: 50px;
	text-align: center;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 6px;
}
.menu_nav ul li a
{
	font-size: 18px;
	font-weight: 700;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #eb4141;
}
.menu_close
{
	position: absolute;
	top: 100px;
	right: 100px;
	cursor: pointer;
}
.menu_close i
{
	font-size: 20px;
}
.menu_close:hover i
{
	color: #eb4141;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 100vh;
}

.login
{
	width: 100%;
	height: 30vh;
}

/*********************************
5.1 Home Slider
*********************************/

.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_slider_content
{
	position: absolute;
	width: 100%;
	top: 38.5%;
	left: 50%;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.cross_1
{
	width: 89px;
	height: 89px;
	border-radius: 50%;
	background: #eb4141;
	margin: 0 auto;
}
.cross_1 img
{
	width: 44px !important;
}
.home_slider_content h1
{
	font-size: 112px;
	font-weight: 700;
	color: #FFFFFF;
	margin-top: 29px;
}
.home_slider_button
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.home_slider_nav
{
	position: absolute;
	top: 57%;
	right: 95px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: rgba(235,65,65,1);
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_nav:hover
{
	background: rgba(235,65,65,0.75);
}

/*********************************
6. Intro
*********************************/

.intro
{
	/*padding-top: 97px;*/
	padding-top: 0px;
	padding-bottom: 98px;
	background: #FFFFFF;
}
.intro_content
{
	margin-top: 85px;
}
.intro_text
{
	width: 100%;
	margin-top: -8px;
}
.intro_button
{
	margin-top: 50px;
}
.intro_image
{
	width: 100%;
}
.intro_image img
{
	max-width: 100%;
}

/*********************************
7. Services
*********************************/

.services
{
	padding-top: 97px;
	padding-bottom: 38px;
}
.services_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.services .section_title h2,
.services .section_subtitle
{
	color: #FFFFFF;
}
.services_text
{
	margin-top: 76px;
}
.services_text p
{
	color: #FFFFFF;
	font-weight: 400;
}
.services_row
{
	margin-top: 91px;
}
.services_item
{
	width: 100%;
	margin-bottom: 60px;
}
.services_image
{
	width: 48px;
	height: 48px;
	margin: 0 auto;
}
.services_image
{
	max-width: 100%;
	max-height: 100%;
}
.services_title
{
	display: inline-block;
	font-size: 18px;
	color: #FFFFFF;
	margin-top: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.services_title::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 1px;
	background: #ffd600;
	content: '';
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.services_item:hover .services_title
{
	color: #eb4141;
}
.services_item:hover .services_title::after
{
	visibility: visible;
	opacity: 1;
}

/*********************************
8. Sermon
*********************************/

.sermon
{
	padding-top: 97px;
	padding-bottom: 98px;
	background: #f0f4f8;
}
.sermon_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.sermon_row
{
	margin-top: 84px;
}
.sermon_image
{
	width: 100%;
}
.sermon_image img
{
	max-width: 100%;
}
.sermon_content
{
	width: 100%;
	margin-top: -8px;
}
.sermon_title
{
	font-size: 24px;
	font-weight: 500;
	color: #000000;
}
.sermon_list
{
	margin-top: 14px;
}
.sermon_list li
{
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 14px;
}
.sermon_list li:last-child
{
	margin-bottom: 0;
}
.sermon_list li a
{
	color: #eb4141;
}
.sermon_text
{
	margin-top: 33px;
}
.sermon_button
{
	margin-top: 38px;
}

/*********************************
9. Causes
*********************************/

.causes
{
	width: 100%;
	padding-top: 0px;
	padding-bottom: 98px;
	background: #FFFFFF;
}
.causes_slider_container
{
	width: 100%;
	margin-top: 85px;
}
.causes_item:hover .causes_item_image
{

}
.causes_item_image
{
	width: 215px;
	height: 215px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.causes_item_image::after
{
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	border-radius: 50%;
	content: '';
	border: solid 10px #eb4141;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.causes_item_image img
{
	max-width: 100%;
}
.causes_item:hover .causes_item_image::after
{
	visibility: visible;
	opacity: 1;
}
.causes_item_title
{
	font-size: 24px;
	color: #000000;
	margin-top: 40px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.causes_item_text
{
	margin-top: 12px;
}
.causes_item:hover .causes_item_title
{
	color: #eb4141;
}
.causes_slider_nav
{
	position: absolute;
	top: 99px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background: #cbcbcb;
	cursor: pointer;
}
.causes_slider_nav:hover
{
	background: #eb4141;
}
.causes_slider_prev
{
	left: -95px;
}
.causes_slider_next
{
	right: -95px;
}

/*********************************
10. Quote
*********************************/

.quote
{
	width: 100%;
	padding-top: 97px;
	padding-bottom: 98px;
}
.quote_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.quote .section_title h2,
.quote .section_subtitle
{
	color: #FFFFFF;
}
.quote_row
{
	margin-top: 55px;
}
.quote_text
{
	font-size: 18px;
	font-style: italic;
	color: #FFFFFF;
	margin-top: 30px;
	line-height: 2;
}
.quote_source
{
	font-size: 18px;
	color: #e6c100;
	margin-top: 26px;
}

/*********************************
11. News
*********************************/

.news
{
	width: 100%;
	padding-top: 98px;
	padding-bottom: 98px;
	background: #FFFFFF;
}
.news_row
{
	margin-top: 95px;
}
.news_item
{
	width: 100%;
}
.news_image
{
	width: 100%;
}
.news_image img
{
	max-width: 100%;
}
.news_date
{
	position: absolute;
	top: 0;
	left: 0;
	width: 94px;
	height: 94px;
	background: #eb4141;
}
.news_day
{
	font-size: 30px;
	color: #FFFFFF;
	line-height: 0.75;
}
.news_month
{
	font-size: 12px;
	color: #FFFFFF;
	line-height: 0.75;
	margin-top: 10px;
}
.news_title
{
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	margin-top: 38px;
}
.news_text
{
	margin-top: 18px;
}
.news_link
{
	margin-top: 18px;
}
.news_link a
{
	font-size: 14px;
	color: #eb4141;
	font-style: italic;
	font-weight: 500;
}

/*********************************
12. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #eb4141;
}
.newsletter_content
{
	height: 154px;
}
.newsletter_title
{
	font-size: 36px;
	color: #FFFFFF;
	font-weight: 500;
}
.newsletter_form
{
	position: relative;
}
.newsletter_input
{
	width: 463px;
	height: 49px;
	border: none;
	outline: none;
	padding-left: 20px;
	border-bottom: solid 2px #ffd600;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 157px;
	height: 47px;
	background: #000000;
	color: #FFFFFF;
	border: none;
	outline: none;
	cursor: pointer;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #b5b5b5 !important;
}

/*********************************
13. Footer
*********************************/

.footer
{
	width: 100%;
	background: #161619;
	padding-top: 88px;
}
.footer .logo a span
{
	font-size: 49px;
	color: #FFFFFF;
}
.footer .logo a img
{
	display: inline-block;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
}
.logo_subtitle
{
	font-size: 14px;
	font-weight: 500;
	color: #797979;
	margin-top: -11px;
	padding-left: 4px;
}
.footer_social
{
	margin-top: 45px;
	padding-left: 4px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 24px;
}
.footer_social ul li:last-child
{
	margin-right: 0;
}
.footer_social ul li a i
{
	font-size: 17px;
	color: #eb4141;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li:hover a i
{
	color: #FFFFFF;
}
.footer_links
{
	width: 100%;
	padding-top: 35px;
}
.footer_title
{
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
}
.footer_title::after
{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #eb4141;
	content: '';
}
.footer_links ul
{
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	margin-top: 42px;
}
.footer_links ul li
{
	margin-bottom: 15px;
}
.footer_links ul li a
{
	font-size: 14px;
	color: #6b6b6b;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_links ul li a:hover
{
	color: #eb4141;
}
.footer_contact
{
	width: 100%;
	padding-top: 35px;
}
.footer_contact ul
{
	margin-top: 42px;
}
.footer_contact ul li
{
	font-size: 14px;
	font-weight: 600;
	color: #6b6b6b;
	line-height: 1.71;
	margin-bottom: 17px;
}
.footer_contact ul li:last-child
{
	margin-bottom: 0;
}
.footer_contact ul li span
{
	font-weight: 500;
	color: #eb4141;
}
.footer_contact_phone span
{
	float: left;
}
.footer_contact_phone div
{
	padding-left: 28px;
}
.copyright
{
	width: 100%;
	height: 84px;
	background: #0d0d0f;
	color: #343439;
	font-size: 12px;
	font-weight: 600;
	line-height: 84px;
	margin-top: 75px;
}